.Header {
    display: flex;
    flex-direction: row;

    position: absolute;
    width: 100%;
    height: 63px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.Header h1 {
    position: absolute;
    left: 25%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #393939;
}
.Header ul {
    padding-left: 31.5%;
    padding-top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    
    color: #979797;
}
.Header li {
    margin-right: 15px;
}

.TopMenu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.FbxLoader {
    width: 100%;
    text-align: center;
    margin-top: 123px;   
}
canvas {
    display: inline;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}


.InputString {
    width: 100%;
    text-align: center;
    margin-top: 45px;  
}
.InputString input {
    display: inline;
    width: 45%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Inter';
    font-weight: bold;
    color: #565656;
    border-radius: 5rem;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
}
.InputString button {
    width: 76px;
    height: 50px;
    margin-left: 15px;
    background: #565656;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35.5px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}



.section1 {
    position: absolute;
    width: 99.1%;
    text-align: center;
}